<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <title>教练详情</title>

  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../vendor/swiper/swiper-3.3.0.min.css">
  <link rel="stylesheet" href="../css/main.css">


</head>
<body id="coach_detail">
<div class="container" v-cloak>
  <div class="media"></div>
  <div class="media">
    <div class="media-left">
      <img class="media-object" style="width: 60px;  height: 60px;" src="../image/test.jpg" alt="">
    </div>
    <div class="media-body">
      <h4 class="media-heading">教练1</h4>
      简介1
    </div>
    <div class="media-right">
      <p class="media-object" style="white-space:nowrap;">￥20/小时</p>

      <p>
        <a class="btn btn-sm btn-primary media-object" href="">立即预约</a>
      </p>
    </div>
  </div>
  <hr>

  <div class="swiper-container">
    <h4>教练风采</h4>

    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="img-responsive" src="../image/test.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img class="img-responsive" src="../image/test.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img class="img-responsive" src="../image/test.jpg" alt="">
      </div>
    </div>
    <br><br>

    <div class="swiper-pagination"></div>
  </div>

  <hr>

  <div>
    <h4>教练详情</h4>

    <p>描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。描述。。</p>
  </div>
</div>

<script src="../vendor/jQuery/jQuery-2.1.4.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/swiper/swiper-3.3.0.min.js"></script>
<script src="../vendor/vuejs/vue.js"></script>
<script>
  var coachDetail = new Vue({
    el: '#coach_detail',
    data: {},
    methods: {}
  });

  var coachSwiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    slidesPerView: 1,
    spaceBetween: 5
  });

</script>
</body>
</html>