[v-cloak] {
  display: none;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  margin-top: 10px;
  margin-bottom: 0;
}

.img-responsive {
  width: 100%;
}

.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}

textarea {
  height: 100%;
}


.panel-body{
  .table {
    margin-bottom: 0;
    th {
      padding-left: 15px;
      padding-right: 15px;
      text-align: right;
      border-top: none;
    }
    td {
      padding-left: 15px;
      border-top: none;
    }
  }
}



